<div class="container mx-5 my-5 col-xl-11">
  <h1 class="h3 mb-0 text-gray-800 my-2">Search Trains</h1>
  <div class="row">
    <form class="d-md-block form col-xl-12">
      <div class="input-group">
        <!-- Search form -->
        <div class="col-xl-4">
          <h6 class="h6 mb-0 text-secondary my-2 col-xl-6">Source</h6>

          <input #origin class="form-control mr-2 mt-2" type="text" placeholder="Source Name" aria-label="Search"
            aria-describedby="basic-addon2"
            [(ngModel)]="originModel" 
            [ngbTypeahead]="locationSearch" 
            [resultFormatter]="formatter" 
            [inputFormatter]="inputFormatter"/>
         
            <input #originPostCode class="form-control mr-2 mt-2" type="text" placeholder="Source postal code" aria-label="Search"
          aria-describedby="basic-addon2" 
          [(ngModel)]="originPostCodeModel" 
          [ngbTypeahead]="postalCodeSearch" 
          [resultFormatter]="postCodeformatter" 
          [inputFormatter]="inputPostCodeFormatter"/>
        </div>
        <div class="col-xl-4">
        <h6 class="h6 mb-0 text-secondary my-2 col-xl-6">Destination</h6>
        <input #destination class="form-control mr-2 mt-2" type="text" placeholder="Destination Name" aria-label="Search"
          aria-describedby="basic-addon2" 
          [(ngModel)]="destinationModel" 
          [ngbTypeahead]="locationSearch" 
          [resultFormatter]="formatter" 
          [inputFormatter]="inputFormatter"/>
        <input  #destinationPostCode class="form-control mt-2" type="text" placeholder="Destination postal code" aria-label="Search"
          aria-describedby="basic-addon2" 
          [(ngModel)]="destinationPostCodeModel" 
          [ngbTypeahead]="postalCodeSearch" 
          [resultFormatter]="postCodeformatter"
          [inputFormatter]="inputPostCodeFormatter"/>
        </div>
        <div class="col-xl-3">
        <h6 class="h6 mb-0 text-secondary my-2 col-xl-6">Date</h6>
        <div class="input-group md-form input-with-post-icon datepicker mt-2">
          <input #travelDate placeholder="Select date" type="date" id="example" class="form-control">
        </div>
        <button class="btn btn-primary mt-2 float-right" type="button"
        (click)="fetchTravelData(origin.value,destination.value,travelDate.value, originPostCode.value, destinationPostCode.value)">Search</button>
      </div>
      </div>
    </form>
  </div>
  <ul class="nav nav-tabs mt-5 col-xl-12" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Travel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Nearby</a>
    </li>
  </ul>
  <div class="tab-content col-12" id="myTabContent">
    <div class="tab-pane fade show active col-12" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="row">
      <div class="card card-inverse col-5 mt-5 mr-5" style="background-color: #333; border-color: #333;">
  <div class="row" *ngIf="showWeatherAndCovidData">
    <!-- CSS -->
    <div class="col-5 mt-5">
      <div class="card card-inverse" style="background-color: #333; border-color: #333;">
        <div class="card-block">
          <div class="row">
            <div class="col-md-8 ml-4 mb-5 mt-5">
              <h2 class="card-title text-white">Travel Date Weather Forecast</h2>
              <p class="card-text" style="color: rgba(255,255,240,.65);"><strong>Temperature(in celcius) </strong> {{weatherDetails.temperature}}
                deg </p>
              <p class="card-text" style="color: rgba(255,255,240,.65);"><strong>Humidity(%) </strong> {{weatherDetails.humidity}}% </p>
              <p class="card-text" style="color: rgba(255,255,240,.65);"><strong>Weather: </strong> {{weatherDetails.weather}} </p>
              <p class="card-text" style="color: rgba(255,255,240,.65);"><strong>Wind Speed(in Kms/hr) </strong> {{weatherDetails.windSpeed}} </p>
             
            </div>
            <div class="col-md-4 col-sm-4 text-center">
              <fa-icon class="mr-1 bg-white" [icon]='["fas", "fa-cloud"]'></fa-icon>
            </div>
          </div>
        </div>
    </div>
    <div class="col-6 mt-5">
      <div class="card">
        <div class="card-header">
          <fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>Covid Update
        </div>
          <div class="card-body">
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
          </div>
      </div>
  </div>
  </div>

  <form *ngIf="showWeatherAndCovidData">
    <!-- <div class="form-group form-inline">Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="countryService.searchTerm" /><span class="ml-3" *ngIf="countryService.loading$ | async">Loading...</span></div> -->
    <table class="table shadow rounded mt-5">
      <thead class="bg-secondary">
        <tr class="d-flex text-center text-white">
          <th class="col-1">Train No.</th>
          <th class="col-3">Origin</th>
          <th class="col-3">Destination</th>
          <th class="col-2">Estimated Arrival Time</th>
          <th class="col-2">Estimated Departure Time</th>
          <th class="col-1"> Total Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex text-center" *ngFor="let data of trainData">
          <th class="col-1" scope="row">{{ data.trainNumber }}</th>
          <td class="col-3">{{ data.origin }}</td>
          <td class="col-3">{{ data.destination }}</td>
          <td class="col-2">{{ data.eta }}</td>
          <td class="col-2">{{ data.etd }}</td>
          <td class="col-1">{{ data.duration }}</td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="total$ | async" [(page)]="countryService.page" [pageSize]="countryService.pageSize"></ngb-pagination
      ><select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="countryService.pageSize">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
      </select>
  </div> -->
  </form>
</div>

<!-- <div class="trainBody"> 
  <h3 style="color: black;margin-left: 457px;margin-top: 10px;">SEARCH TRAINS</h3>
  
  <table style="margin-top: 20px;">
    <tr> 
      <td style="width:30%">
        <span style="margin-left: 0px; display: inline;">Origin: </span> 
        <input #origin id="typeahead-format" type="text" class="form-control" style="display: inline;width: 13pc;height: 25px;margin-left: 2.6pc;"
        [(ngModel)]="originModel" [ngbTypeahead]="locationSearch" [resultFormatter]="formatter" [inputFormatter]="inputFormatter" placeholder="Enter origin location"/>
      </td>
      <td style="width:35%">
        <span style="margin-left: 0px;">Destination: </span>
        <input #destination id="typeahead-format1" type="text" class="form-control" style="display: inline;width: 13pc;height: 25px;"
        [(ngModel)]="destinationModel" [ngbTypeahead]="locationSearch" [resultFormatter]="formatter" [inputFormatter]="inputFormatter" placeholder="Enter destination location"/>        
      </td>
      <td style="width:25%">
        <span style="margin-left: 0px;">Travel Date</span> 
        <input #travelDate type='date' title="Enter the travel date"/>
      </td> 
      <td>
        <button style="margin-left: 0px;font-size: 18px;background: darkgray;" [disabled]="loading" (click)="fetchTravelData(origin,destination,travelDate)">Search</button>
      </td>   
    </tr>
    <tr>
      <td style="width:30%">
        <span style="margin-left: 10.5pc; display: inline;">----- or -----</span> 
      </td>
      <td style="width:35%">
        <span style="margin-left: 10.5pc; display: inline;">----- or -----</span> 
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td style="width:30%">
        <span style="margin-left: 0px; display: inline;">Post Code: </span> 
        <input #originPostCode id="typeahead-format" type="text" class="form-control" style="display: inline;width: 13pc;height: 25px;"
        [(ngModel)]="originPostCodeModel" [ngbTypeahead]="postalCodeSearch" [resultFormatter]="postCodeformatter" [inputFormatter]="inputPostCodeFormatter" placeholder="Enter origin postal code"/>
      </td>
      <td style="width:35%">
        <span style="margin-left: 0px; display: inline;">Post Code: </span> 
        <input #destinationPostCode id="typeahead-format" type="text" class="form-control" style="display: inline;width: 13pc;height: 25px;margin-left:1pc"
        [(ngModel)]="destinationPostCodeModel" [ngbTypeahead]="postalCodeSearch" [resultFormatter]="postCodeformatter" [inputFormatter]="inputPostCodeFormatter" placeholder="Enter dest postal code"/>
      </td>
      <td></td>
      <td></td>
    </tr>  
  </table>
  <hr style="color: black;">
  <h4 *ngIf="!showWeatherAndCovidData" style="color:#211514;margin-left: 400px;">Once trains are searched, data will be displayed.....</h4>
<div *ngIf="showWeatherAndCovidData">
 <p style="display: inline;">
  <button type="button" class="btn btn-outline-primary" (click)="showWeather()" [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseExample" style="width: 290px;margin-left: 0px;padding: 0px;">
    Travel Date {{weatherDetails.cityName}} Weather forecast
  </button>
</p>
<h6 style="color: #cc1616;margin-left: 357px;display:inline">London Active Covid cases: 5</h6>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="card">
    <div class="card-body" style="background-color: #efeff5">
      <div>
        <img
          style="width: 20px;right: 0;height: 16px;margin-left: 10px;display: inline;"
          src="../assets/images/temperature.png"
         />
        <h6 style="color: black;margin-left: 10px;margin-top: 10px;display: inline;">Temperature(in celcius): {{weatherDetails.temperature}}</h6>
      
        <img
        style="width: 20px;right: 0;height: 16px;margin-left: 12.5pc;display: inline;"
        src="../assets/images/humidity.png"
       />
       <h6 style="color: black;margin-left: 10px;margin-top: 10px;display: inline;">Humidity(%): {{weatherDetails.humidity}}</h6>
     
       <h6 style="color: black;margin-left: 16pc;margin-top: 10px; display: inline;">Sky: </h6>
        <img
        style="width: 20px;right: 0;height: 16px;margin-left: 1pc;display: inline;"
        src="../assets/images/sunny.png"
       />
      </div>
      
      <div>
        <img
          style="width: 20px;right: 0;height: 16px;margin-left: 10px; display: inline;"
          src="../assets/images/windy.png"
        />
        <h6 style="color: black;margin-left: 10px;margin-top: 10px; display: inline;">Wind Speed(in Kms/hr): {{weatherDetails.windSpeed}}</h6>
     
        <img
          style="width: 20px;right: 0;height: 16px;margin-left: 15.3pc; display: inline;"
          src="../assets/images/visibility.png"
        />
        <h6 style="color: black;margin-left: 10px;margin-top: 10px;display: inline;">Visibility(in Kms): {{weatherDetails.visibility}}</h6>
   
      </div>
       
      <div>
           </div>   
    </div>
  </div>
  </div>
    <form>
      <table class="table shadow rounded mt-5">
        <thead class="bg-secondary">
          <tr class="d-flex text-center text-white">
            <th class="col-1">Train No.</th>
            <th class="col-3">Origin</th>
            <th class="col-3">Destination</th>
            <th class="col-2">Estimated Arrival Time</th>
            <th class="col-2">Estimated Departure Time</th>
            <th class="col-1"> Total Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr class="d-flex text-center" *ngFor="let data of trainData">
            <th class="col-1" scope="row">{{ data.trainNumber }}</th>
            <td class="col-3">{{ data.origin }}</td>
            <td class="col-3">{{ data.destination }}</td>
            <td class="col-2">{{ data.eta }}</td>
            <td class="col-2">{{ data.etd }}</td>
            <td class="col-1">{{ data.duration }}</td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="total$ | async" [(page)]="countryService.page" [pageSize]="countryService.pageSize"></ngb-pagination
        ><select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="countryService.pageSize">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
        </select>
    </div> -->
    </form>
    </div>
    <div class="tab-pane fade mt-5" id="profile" role="tabpanel" aria-labelledby="profile-tab">

      <div class="row">
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active show" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Restaurants</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Supermarkets</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Tourism</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Cinemas</a>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <form>
                <table class="table shadow rounded">
                  <thead class="bg-secondary">
                    <tr class="d-flex text-center text-white">
                      <th class="col-3">Name</th>
                      <th class="col-6">Address</th>
                      <th class="col-3">Distance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="d-flex text-center" *ngFor="let data of trainData">
                      <th class="col-3" scope="row">{{ data.trainNumber }}</th>
                      <td class="col-6">{{ data.origin }}</td>
                      <td class="col-3">{{ data.destination }}</td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <form>
                <table class="table shadow rounded">
                  <thead class="bg-secondary">
                    <tr class="d-flex text-center text-white">
                      <th class="col-3">Name</th>
                      <th class="col-6">Address</th>
                      <th class="col-3">Distance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="d-flex text-center" *ngFor="let data of trainData">
                      <th class="col-3" scope="row">{{ data.trainNumber }}</th>
                      <td class="col-6">{{ data.origin }}</td>
                      <td class="col-3">{{ data.destination }}</td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
              <form>
                <table class="table shadow rounded">
                  <thead class="bg-secondary">
                    <tr class="d-flex text-center text-white">
                      <th class="col-3">Name</th>
                      <th class="col-6">Address</th>
                      <th class="col-3">Distance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="d-flex text-center" *ngFor="let data of trainData">
                      <th class="col-3" scope="row">{{ data.trainNumber }}</th>
                      <td class="col-6">{{ data.origin }}</td>
                      <td class="col-3">{{ data.destination }}</td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
              <form>
                <table class="table shadow rounded">
                  <thead class="bg-secondary">
                    <tr class="d-flex text-center text-white">
                      <th class="col-3">Name</th>
                      <th class="col-6">Address</th>
                      <th class="col-3">Distance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="d-flex text-center" *ngFor="let data of trainData">
                      <th class="col-3" scope="row">{{ data.trainNumber }}</th>
                      <td class="col-6">{{ data.origin }}</td>
                      <td class="col-3">{{ data.destination }}</td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>